#homeBody{ 
    background-image: url(https://d1csarkz8obe9u.cloudfront.net/posterpreviews/pizza-delivery-instagram-post-advertisement-design-template-3cc4fd2d74882bdba12ba7c94dfc54e6_screen.jpg?ts=1589826938);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: -180px;
}
.homeDivButtons{
    margin-left: 18%;
    color: white;
    background-color: transparent;
    padding: 15px 32px;
}
#menuBody{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdzxs7gxHKMYWPHQ5E_A1Wvr95kUKEPCyW6g&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.pizzas{
    margin-left: 50%;
}
.nOfP{
    background-color: #b3b3b3;
    width: 40px;
    margin-left: 60%;
}
.pizzaName{
    margin-left: 60%;
    color: white;
}
.pizzaM{
    margin-left: 60%;
    color: green;
}
.resPizza{
    width: 200px;
    height: 200px;
    margin-left: 1100px;
}
.numberOfPizza{
    margin-left: 1180px;
    color: thistle;
}
#billDiv{
    background-color: #b3b3b3;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 550px;
    margin-right: 615px;
    border: 1px solid #c4ffc4;
    padding: 0em 1em;
    border-radius: 16px;
}
#billDiv2{
    background-color: #b3b3b3;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 428px;
    margin-right: 430px;
    border: 1px solid #c4ffc4;
    padding: 0em 1em;
    border-radius: 16px;
 }
 #number{
    background-color: #b3b3b3; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 630px;
    margin-top: 60px;
 }
 #tel {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 370px;
    margin-top: 60px;
 }